@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
    margin: 10px 0px;
    position: relative;
}

.home ul li {
    display: flex;
    /* flex-direction:column; */
    padding-top: 15px;
    gap: 10px;
    width: 20px;
    list-style: none;
    font-weight: bold;

}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(100%);
}

.bg-grey {
    background-color: #121212;
}

.heading {
    display: flex;
    gap: 5px;
    width: 100%;
    font-size: 12px;
    align-items: center;
    /* padding:4px; */
}

.heading img {
    width: 30px;
}

.footer {
    display: flex;
    gap: 5px;
    color: grey;
    font-size: 10px;
    position: absolute;
    bottom: 0;
}

.footer a {
    color: grey;
    text-decoration: none;
    padding: 10px 5px;
}

.cookies {
    color: rgba(255, 255, 255, 0.788);
    font-size: 15px;
    text-decoration: none;

}

.cookies:hover {
    color: white;
}

.library {
    min-height: 80vh;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.header {
    background-color: rgb(34, 34, 34);
}

.header>* {
    padding: 10px;
}

.SpotifyPlaylists {
    padding: 12px;
    /* border:3px red solid; */
}
.logo{
    display: flex;
    gap:10px;
}
.card {
    width: 200px;
    /* padding:8px; */
    /* border: 2px red solid; */
    position: relative;
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;

}

.card img {

    displaY: block;
    margin: 0 auto;
    width: 90%;
    object-fit: contain;
    border-radius: 10px;
}

.card p {
    word-wrap: break-word;
    white-space: normal;
}

.cardContainer {
    margin: 10px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 70vh;

}

.card:hover {
    background-color: rgb(75, 73, 73);
}

.play {
    position: fixed;
    bottom: 105px;
    right: 30px;
    width: 55px;
    height: 55px;
    background-color: #1ed760;
    /* Spotify green */
    border-radius: 50%;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: background-color 0.3s ease;
    opacity: 0;
    transition: all 1s ease-out;

}

.play svg {
    width: 66px;
    height: 30px;
    fill: black;

}

.signUpbtn {
    color: rgb(223, 214, 214);
    background-color: rgb(34, 34, 34);
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}

.buttons>* {
    margin: 0px 6px;
}

.signUpbtn:hover {
    font-size: 18px;
    color: white;
}

.Loginbtn {
    border: none;
    outline: none;
    color: black;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 8px;
    border-radius: 15px;
    width: 68px;
}

.Loginbtn:hover {
    font-size: 17px;
    font-weight: bold;
}

.playbar {
    display: flex;
    position: fixed;
    bottom: 20px;
    background-color: rgb(42 43 42);
    width: 75vw;
    height: 65px;
    padding: 15px;
    border-radius: 25px;
    /* display:flex;
    justify-content: center;; */
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    position: absolute;
    right:600px;
}

.songlist ul {
    padding: 12px 12px;
    
}

.songlist ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-evenly;
    gap: 14px;
    cursor: pointer;
    padding: 12px 0px;
    border: solid #585555 2px;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    /* justify-content: end; */
}


.playnow {
    display: flex;
    gap: 10px;
    align-items: center;

}

.playnow span {
    font-size: 15px;
}

.songlist {
    height: 550px;
    overflow: auto;
    margin-bottom: 44px;
}

.seekbar {
    height: 5px;
    width: 98%;
    /* border: 2px solid white; */
    background: white;
    position: absolute;
    bottom: 0px;
    border-radius: 10px;
    cursor: pointer;
}

.circle {
    height: 20px;
    width: 20px;
    border-radius: 13px;
    background-color: white;
    position: absolute;
    bottom: -10px;
    left: -3px;
    transition: left 0.5s;
}

.songbuttons img {
    cursor: pointer;
}
.hamburger{
    display:none;
}
/* .timevol{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.songinfo {
    position: absolute;
    top: 24px;
    font-size: 25px;
}
.songtime{
    position: absolute;
    right:100px;
    font-size:20px;
    bottom:20px;
}
@media (max-width: 1400px) {
    .left{
        /* background-color: red; */
        position: absolute;
        left:-100%;
        transition:all .3s;
        z-index:3;
        width:350px;
        background-color: black;

    }
    .right{
        width:100vw;
    }
    .playbar{
        width:95vw;
    }
    .hamburger{
        display: block;
    }
    /* .card{
    width:60vw;
} */
}
.close{
    position: absolute;
    right: 24px;
    top: 27px;
}
.songlist ul li .info {
  flex: 1; /* take available space */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.volume{
    position: absolute;
    right:300px;
    top:20px;
    display: flex;
    /* flex-direction: column; */
        right: 435px;
}
.range{
    
    position: absolute;
    right: -151px;
    top: 15px;
}
/* .volume:hover .range{
    display: block;
} */